# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
jspm_packages/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Logs
logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
lerna-debug.log*
.pnpm-debug.log*

# Test coverage
coverage
*.lcov
.nyc_output

# Build outputs
build/
.next
out
.nuxt
.docusaurus

# Cache directories
.cache/
.parcel-cache/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.npm
.eslintcache
.stylelintcache

# Environment files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store
*.pem

# IDE
.vscode-test

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
